.avatar {
  background-color: burlywood;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-size: 200px 200px;
  position: relative;
  .cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  label {
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    text-align: center;
    height: 50%;
    align-items: center;
    vertical-align: middle;
    display: flex;
    background-color: rgba(128, 128, 128, 0.315);
    cursor: pointer;
    font-weight: 600;
    color: white;
    letter-spacing: 0.1em;
  }
}
