<div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
          <div *ngIf="currentUser && currentUser.data.user.avatar_url &&  currentUser.data.user.avatar_url != 'null'" class="avatar"
          [ngStyle]="{'background-image': 'url(' + currentUser.data.user.avatar_url + ')'}">
          <div class="cross" (click)="deleteAvatar()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <input class="ng-hide" id="input-file-id" multiple type="file" (change)="selectFile($event)" style="display:none;" />
          <label for="input-file-id" class="edit" class="md-button md-raised md-primary">Choose Files</label>
          </div>
{{currentUser.data.user.avatar_url}}
          <!-- <div *ngIf="currentUser.data.user.avatar_url = 'null'" class="avatar">
          <input class="ng-hide" id="input-file-id" multiple type="file" (change)="selectFile($event)" style="display:none;" />
          <label for="input-file-id" class="edit" class="md-button md-raised md-primary">Choose Files</label>
          </div> -->
      </div>
      <div class="col-lg-6 col-sm-12">
        <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
          <div class="form-group">
              <label>firstname</label>
              <input class="form-control" name="firstname" [(ngModel)]="currentUser.data.user.firstname" required />
          </div>

          <div class="form-group">
            <label>lastname</label>
            <input class="form-control" name="lastname" [(ngModel)]="currentUser.data.user.lastname" required />
        </div>
          <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="email" [(ngModel)]="currentUser.data.user.email"
                  required email />
          </div>
          <div class="form-group">
              <input type="submit" [disabled]="myForm.invalid" class="btn btn-default" value="Отправить" />
          </div>
      </form>`
      </div>
    </div>
  </div>