section {
  padding-top: 9vh;
  min-height: 100vh;
}
// NAVBAR left
.navLink {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 92vh;
  margin-top: 6vh;
  width: 15%;
  a {
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: 700;
    color: rgb(236, 236, 241);
    text-decoration: none;
    // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0.5em 0.9em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
      0 0 1px 1px #0350424f;
    transition: 0.2s ease-in-out;
  }
  a:hover:not(:active) {
    background: linear-gradient(#9bdbcd, #5ab39f) #037963;
  }
  a:active {
    top: 1px;
    background: linear-gradient(#7db1a5, #408072) #036351;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
      0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  }
  .linkActive {
    top: 1px;
    background: linear-gradient(#7db1a5, #408072) #036351;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
      0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  }
}
// Fin
.leftNav {
  display: none;
  flex-direction: column;
  a {
    text-align: center;
    margin-bottom: 1em;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 90%;
    font-weight: 700;
    color: rgb(236, 236, 241);
    text-decoration: none;
    padding: 0.5em 0.9em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
      0 0 1px 1px #0350424f;
    transition: 0.2s ease-in-out;
  }
  a:hover:not(:active) {
    background: linear-gradient(#9bdbcd, #5ab39f) #037963;
  }
  a:active {
    top: 1px;
    background: linear-gradient(#7db1a5, #408072) #036351;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
      0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  }
  .linkActive {
    top: 1px;
    background: linear-gradient(#7db1a5, #408072) #036351;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
      0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 500px) {
  .hide,
  .navLink {
    display: none;
  }
  .leftNav {
    display: flex;
  }
}
