<app-nav></app-nav>
<section>
  <!-- SMOLL -->
  <div class="leftNav">
    <a [routerLink]="['me']" routerLinkActive="linkActive">Mes données</a>
    <a [routerLink]="['my-adopt']" routerLinkActive="linkActive">My adopt request</a>
    <a [routerLink]="['message']" routerLinkActive="linkActive">
      My messages</a>
    <a [routerLink]="['mesAnnonces']" routerLinkActive="linkActive">
      Mes annonces</a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 hide">
        <div class="navLink">
          <a [routerLink]="['me']" routerLinkActive="linkActive">Mes données</a>
          <a [routerLink]="['my-adopt']" routerLinkActive="linkActive">
            My adopt request</a>
          <a [routerLink]="['message']" routerLinkActive="linkActive">
            My messages</a>
          <a [routerLink]="['my-annonce']" routerLinkActive="linkActive">
            Mes annonces</a>
        </div>
      </div>
      <div class="col-md-10 col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>