<p>modal-add-adopt-announce-admin works!</p>
<form [formGroup]="FormAdoptAnnoncee" enctype="multipart/form-data">
  <input type="file" name="img" accept="" (change)="createFormData($event)" />
</form>
<button (click)="sendNewAnnonce()">Send</button>
