@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@font-face {
  font-family: myFirstFont;
  src: url(../../../assets/Meows-VGWjy.ttf);
}
section {
  padding-top: 20vh;
  padding-left: 1%;
  padding-right: 1%;
  min-height: 100vh;
}

/**
SLIDER
**/
.ptit {
  width: 9em;
  height: 6em;
  margin-right: 0.5em;
  cursor: pointer;
}

.big {
  width: 37.5em;
  height: 25em;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.486);
}
h3 {
  font-family: "myFirstFont";
  font-weight: 800;
}
h6,
.race {
  font-weight: 800;
}

h5 {
  padding: 1% 5% 3% 5%;
  font-family: "Libre Baskerville", serif;
  font-size: 2em;
  color: #332a2a;
}
.RIGHT {
  padding: 3%;
  // border: 15px solid #87c0b4;
  // box-shadow: 10px 10px 10px -5px #87c0b4;
  // background-color: #b4afaf98;
}
.padding-section {
  height: 100%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.ccc {
  padding-right: 1%;
  text-align: right;
}
.fermer {
  height: 5%;
}

form {
  border: none !important;
  height: 85%;
}
article {
  height: 80%;
}
.info {
  display: flex;
  justify-content: space-between;
}

/**
  button
  **/

button.button28 {
  border: none;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.7em 1.2em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
  // box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px rgba(0, 1, 6, 0.5),
  //   0 0 1px 1px rgba(0, 1, 6, 0.2);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
    0 0 1px 1px #0350424f;
  transition: 0.2s ease-in-out;
}
button.button28:hover:not(:active) {
  background: linear-gradient(#9bdbcd, #5ab39f) #037963;
}
button.button28:active {
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
button.button27 {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(143, 143, 146), rgb(144, 144, 148))
    rgb(139, 139, 139);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .ptit {
    width: 4.6em;
    height: 2.5em;
    margin-right: 0.5em;
    cursor: pointer;
  }

  .big {
    width: 20em;
    height: 15em;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.486);
  }
  section {
    padding-top: 10vh;
    min-height: 48vh;
  }
  .RIGHT {
    padding: 0;
  }
  .p-5 {
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 2em;
    padding-right: 1em;
  }
  .h4,
  h4 {
    font-size: 1rem;
  }
  @media screen and (max-width: 450px) {
    .info {
      padding-top: 1.5em;
    }
    .doghistory {
      text-align: justify;
    }
    .fermer {
      padding-top: 1.5em;
    }
  }
}
