section {
  padding-top: 8vh;
  min-height: 100vh;
  background-size: cover;
  background-repeat: repeat-y;
  mat-form-field{
    margin: 10px;
      }
}
.row {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}
.filter {
  // width: 100vw;
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
.example-header-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
mat-card-title {
  color: #5d3535;
  font-weight: 800;
}
mat-card-subtitle {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
}
.characterDog {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
mat-card-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
// button

// a.button28 {
//   position: relative;
//   display: inline-block;
//   font-size: 90%;
//   font-weight: 700;
//   color: rgb(236, 236, 241);
//   text-decoration: none;
//   // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
//   padding: 0.3em 0.8em;
//   outline: none;
//   border-radius: 3px;
//   background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
//   // box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px rgba(0, 1, 6, 0.5),
//   //   0 0 1px 1px rgba(0, 1, 6, 0.2);
//   box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #02554681,
//     0 0 1px 1px #0350424f;
//   transition: 0.2s ease-in-out;
// }
// a.button28:hover:not(:active) {
//   background: linear-gradient(#9bdbcd, #5ab39f) #037963;
// }
// a.button28:active {
//   top: 1px;
//   background: linear-gradient(#7db1a5, #408072) #036351;
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
//     0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
// }
