section {
  padding-top: 20vh;
  height: 110vh;
  width: 100%;
  background-image: url(../../../assets/img/ill3.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
