section {
  padding-top: 5vh;
}
.example-header-image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
mat-card {
  position: relative;
}
mat-card-actions {
  display: flow-root;
  .left {
    float: left;
    background: linear-gradient(#87c0b4, #5ab39f) #02cfab;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #025546d7,
      0 0 1px 1px #0350424f;
  }
  .right {
    float: right;
    background: linear-gradient(#f18181, #f65e5e) #f65e5e;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 2px 3px #6d2929,
      0 0 1px 1px #0350424f;
  }
  // justify-content: flex-end;
}
mat-card-title {
  color: #5d3535;
  font-weight: 800;
  p {
    font-size: 90%;
    font-weight: 500;
    color: rgb(236, 236, 241);
    position: absolute;
    padding: 2px 5px;
    top: -7px;
    right: -6px;
    font-size: 0.7em;
    border-radius: 3px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset,
      0 2px 3px rgba(255, 255, 255, 0.329);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    // i {
    //   margin: 5px 7px;
    //   // margin-left: 5px;
    // }
  }
}
// .status {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   position: absolute;
//   align-items: center;
//   top: 50%;
//   i {
//     font-size: 3.5em;
//     font-weight: 800;
//   }
//   h3 {
//     font-size: 2.2em;
//     font-weight: 800;
//     letter-spacing: 0.1em;
//   }
// }
// img {
//   opacity: 0.6;
// }
.footer {
  min-height: 2.3em;
}

button.button28 {
  border: none;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(236, 236, 241);
  text-decoration: none;
  // text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.3em 0.8em;
  outline: none;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
button.right:hover:not(:active) {
  background: linear-gradient(#f09e9e, #d13a3a) #f65e5e;
}
button.right:active {
  top: 1px;
  background: linear-gradient(#f18181, #f65e5e) #f65e5e;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
button.left:hover:not(:active) {
  background: linear-gradient(#9bdbcd, #5ab39f) #037963;
}
button.left:active {
  top: 1px;
  background: linear-gradient(#7db1a5, #408072) #036351;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
