<section>
  <div class="container-fluid">
    <div *ngIf="cardLoiding"
         style="width: 100%; display: flex; justify-content: center;" >
          <mat-spinner></mat-spinner>
    </div>
    <div class="row" *ngIf="!cardLoiding">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-3" *ngFor="let dog of userDogs">
        <mat-card class="example-card card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image" 
            [ngStyle]="{'background-color':dog.sexe == '2' ? '#87C0B4' : '#FEB225' }">
              <i *ngIf="dog.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
              <i *ngIf="dog.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
            </div>
            <mat-card-title>{{dog.name}}
              <p *ngIf="dog.status === 'accept'" style="background-color: #87C0B4;" > 
                <i class="fa fa-check mr-2" aria-hidden="true"></i> Accepté
              </p>
              <p *ngIf="dog.status === 'reject'" style="background-color: #f65e5e" > 
                <i class="fa fa-times mr-2" aria-hidden="true"></i> Refusé
              </p>
              <p  *ngIf="dog.status === 'pending'" style="background-color: lightgrey;" >
                <i class="fa fa-hourglass-half mr-2" aria-hidden="true"></i> En attente
              </p>
              <p *ngIf="dog.status === 'user-cancel'" style="background-color: #f65e5e;" >
                <i class="fa fa-times mr-2" aria-hidden="true"></i> Refusé
              </p>
              <!-- <p>Accepte</p> -->
            </mat-card-title>
            <mat-card-subtitle>{{dog.race}} {{dog.age}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{dog.photo}}" 
          style="height: 200px;"
           alt="Photo of a Shiba Inu">
          <mat-card-content>
            <!-- <div class="status"> 
              <i *ngIf="dog.status === 'accept'" class="fa fa-check mr-2" aria-hidden="true" style="color: #87C0B4;"></i>
              <i *ngIf="dog.status === 'reject'" class="fa fa-times mr-2" aria-hidden="true" style="color: #F65E5E;"></i>
              <i *ngIf="dog.status === 'pending'" class="fa fa-hourglass-half mr-2" aria-hidden="true" style="color: #FEB225;"></i>
              <h3 *ngIf="dog.status === 'accept'" style="color: #412525;" > Accepté</h3>
              <h3  *ngIf="dog.status === 'reject'" style="color: #412525;" > Rejeté</h3>
              <h3  *ngIf="dog.status === 'pending'" style="color: #412525;" > En attente</h3>
              <h3 *ngIf="dog.status === 'user-cancel'" style="color: #412525;" >Annulé</h3>

            </div> -->
          </mat-card-content>
          <mat-card-actions>
            <!-- {{dog.status}} -->
            <div class="footer">
              <button
              (click)="goDogDescriptioPage(dog)"
              class="button28 left"
            >
            Info
            </button>
              <button
              *ngIf="currentUser && currentUser !== null && dog.status === 'pending'"
              (click)="rejectMyDemand(dog)"
              class="button28 right"
            >
            Annuler ma demande
            </button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
