<!-- <div class="container slogan">
  <h2>
    Il y a près de 100 000 animaux abandonnée chaque année dont 60 000 en été et
    40 000 au bord de la route.
  </h2>
  <div class="stat">
    En adoptant un animal de compagnie dans un des refuges indépendants de
    France, vous lui offrez une nouvelle vie, une chance d'être enfin heureux.
    Il vous en sera toujours reconnaissant. L'équipe du refuge sera à votre
    disposition pour vous accompagner et vous conseiller au mieux, dans le seul
    but de construire, avec votre nouveau compagnon, une relation harmonieuse au
    sein de votre foyer.
  </div>
  <h2>leur vie est entre vos mains.</h2>
</div> -->
<section class="adopt hide">
  <hr />
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <img
          src="assets/img/gardSect-removebg-preview.png"
          width="390"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-left">
        <h1>ADOPTER</h1>
        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<section class="garde hide">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-right">
        <h1>GARDER</h1>
        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/garde']" class="button28">MORE INFO</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-left">
        <img
          src="assets/img/adoptSect-removebg-preview-removebg-preview.png"
          width="400"
          height="auto"
          alt="Фотография"
        />
      </div>
    </div>
  </div>
  <hr />
</section>

<section class="walking hide">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-right">
        <img
          src="assets/img/walkSect-removebg-preview-removebg-preview.png"
          width="450"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 aligner" data-aos="fade-left">
        <h1>PROMENER</h1>

        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<!-- <section class="lucky">Qui a etait adopte</section> -->

<!-- SMOLL ecrans -->

<section class="adopt show">
  <hr />
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 aligne">
        <img
          src="assets/img/gardSect-removebg-preview.png"
          width="300"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner" >
        <h1>ADOPTER</h1>
        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>
<section class="garde show">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <img
          src="assets/img/adoptSect-removebg-preview-removebg-preview.png"
          width="300"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner">
        <h1>GARDER</h1>
        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>

<section class="walking show">
  <div class="container wh100">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 aligne">
        <img
          src="assets/img/walkSect-removebg-preview-removebg-preview.png"
          width="350"
          height="auto"
          alt="Фотография"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 aligner">
        <h1>PROMENER</h1>

        <p>
          three columnscolumns columns columnscolumns columnscolumns
          columnscolumns One of three columnscolumns columns columnscolumns
          columnscolumns columnscolumns
        </p>
        <div class="butt">
          <a [routerLink]="['/dogs']" class="button28">MORE INFO</a>
        </div>
      </div>
    </div>
  </div>
  <hr />
</section>