<section>
  <div class="container">
    <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>Recent</h4>
                </div>
                <!-- <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input type="text" class="search-bar"  placeholder="Search" >
                    <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span> </div>
                </div> -->
              </div>
              <div class="inbox_chat">
                <div class="chat_list active_chat" *ngFor="let myUser of myUsers">
                  <div class="chat_people"
                  (click)="getUserMessage(myUser.id)">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>{{ myUser.firstname }} {{ myUser.lastname }}</h5>

                      <!-- <h5>{{ myUser.firstname }} {{ myUser.lastname }}<span class="chat_date">Dec 25</span></h5> -->
                      <!-- <p>Test, which is a new approach to have all solutions 
                        astrology under one roof.</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mesgs">
              <div class="msg_history" >
                <div 
                *ngFor="let mess of userMessages" 
                [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'incoming_msg': mess.from_user_id !== userId}">
                  <div *ngIf=" mess.from_user_id !== userId"
                  class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                  </div>
                  <div
                  [ngClass]="{'received_msg': mess.from_user_id !== userId, 'sent_msg': mess.from_user_id === userId}">
                    <div 
                    [ngClass]="{'outgoing_msg': mess.from_user_id === userId, 'received_withd_msg': mess.from_user_id !== userId}">
                      <p>{{mess.message}}</p>
                      <span class="time_date"> {{mess.timestamp | date:'dd-MM-yyyy, h:mm a'}}</span></div>
                  </div>
                </div>
              </div>
              <div class="type_msg">
                <div class="input_msg_write">
                  <form [formGroup]="FormMessage">
                  <input type="text" class="write_msg" 
                  formControlName="message"
                  placeholder="Type a message" />
                  <button class="msg_send_btn" type="button"
                  (click)="sendMessage()"
                  [disabled]="!FormMessage.valid">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
</section>
