<app-nav></app-nav>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <div class="widget">
          <ul>
            <li>
              <a [routerLink]="['']" routerLinkActive="active-link">Home</a>
            </li>
            <li>
              <a [routerLink]="['adopt']" routerLinkActive="active-link"
                >ADOPT</a
              >
            </li>
            <li>
              <a routerLinkActive="active-link"> Garde</a>
            </li>
            <li>
              <a [routerLink]="['users']" routerLinkActive="active-link">
                USERS</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
<!-- <section>
  <table class="table table-dark">
    <thead>
      <tr>
        <th class="w-25">User</th>
        <th class="w-50">Why?</th>
        <th class="w-25">Dog</th>
        <th class="w-25">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demand of allDemandAdoption">
        <td>
          {{ demand.firstname }} {{ demand.lastname }}
          <i
            class="fa fa-info-circle"
            aria-hidden="true"
            (click)="openModalInfo(demand, 'user')"
          ></i>
          <i
            class="fa fa-commenting"
            aria-hidden="true"
            (click)="sendMessage(demand)"
          ></i>
        </td>
        <td>{{ demand.reason }}</td>
        <td>
          {{ demand.name }}
          <img
            src="{{ demand.photo }}"
            class="img-fluid mx-auto"
            width=" 70px"
            height="auto"
            alt="..."
          />
          <i
            class="fa fa-info-circle"
            aria-hidden="true"
            (click)="openModalInfo(demand, 'dog')"
          ></i>
        </td>
        <td class="button flex">
          <button
            *ngIf="demand.status === 'pending'"
            mat-raised-button
            color="primary"
            (click)="acceptDemand(demand)"
          >
            Accept
          </button>
          <button
            *ngIf="demand.status === 'pending'"
            mat-raised-button
            color="warn"
            (click)="rejectDemand(demand)"
          >
            Reject
          </button>
          <p *ngIf="demand.status !== 'pending'">{{ demand.status }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</section> -->
