<nav class="navbar navbar-expand-lg navbar-light nav">
  <a class="navbar-brand" href="#">
    <img
      src="assets/img/front_ohMyDog_src_assets_img_logo3-removebg-preview.png"
      class="logo"
      width="40"
      height="40"
      alt="logo"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end align-items-end"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">ADMIN</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser || currentUser == null">
        <a class="nav-link" (click)="showConnectionModal()">Sign In</a>
      </li>
      <li class="nav-item active" *ngIf="!currentUser || currentUser == null">
        <a class="nav-link" (click)="showInscriptionModal()">Sign Up</a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser && currentUser!== null">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i> {{ currentUser.data.user.firstname }}
          {{ currentUser.data.user.lastname }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/profil/my-adopt">My profil</a>
          <a class="dropdown-item" (click)="logOut()"> Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
