mat-drawer-container {
  min-height: 92vh;
  padding-top: 8vh;
  max-width: 100vw;
}
.row {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

mat-card-header {
  width: 100%;
  position: relative;
  .example-header-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.mat-card-header-text {
  width: 100%;
}
mat-card-title {
  width: 100%;
  display: flex;
}

.sociability {
  display: flex;
  justify-content: center;
  i,
  img {
    width: 24px;
    height: 24px;
  }
  img {
    margin-right: 13px;
  }
  i {
    line-height: inherit !important;
  }
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  min-height: 35px;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg_send_btn:active {
  background: #04556b none repeat scroll 0 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
.deleteButton {
  background: linear-gradient(#feb225, #e6a120) #8b6111;
  box-shadow: 0 1px rgba(180, 146, 96, 0.082) inset, 0 2px 3px #9467153f,
    0 0 1px 1px #855b124b;
}
a.deleteButton:hover:not(:active) {
  background: linear-gradient(#e6be74, #dda846) #52452e;
}
.deleteButton:active {
  background: linear-gradient(#c78b1c, #946816) #5f420d;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
