<app-nav></app-nav>


  <mat-drawer-container class="example-container" autosize>
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()"
      [disabled]="!currentUser">
        Toggle sidenav
      </button>
      <a class="button28" *ngIf="currentUser"
       (click)="showAddAnnonceModal()">Add annonce </a>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input (dateChange)="dateStart($event)" matStartDate placeholder="Start date" disabled>
          <input (dateChange)="dateEnd($event)" matEndDate placeholder="End date disabled">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <div class="container-fluid">
        <div *ngIf="cardLoiding" style="width: 100%; display: flex; justify-content: center;">
          <mat-spinner></mat-spinner>
        </div>
        <div class="row" *ngIf="!cardLoiding">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-3" *ngFor="let dog of filtredDogs">
            <mat-card class="example-card card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"
                  [ngStyle]="{'background-color':dog.sexe == '1' ? '#87C0B4' : '#FEB225' }">
                  <i *ngIf="dog.sexe == '1'" class="fas fa-mars" style="color: white;"></i>
                  <i *ngIf="dog.sexe == '2'" class="fas fa-venus" style="color: white;"></i>
                </div>
                <mat-card-title>
                  <h4>{{dog.name}} </h4>
                </mat-card-title>
                <mat-card-subtitle>{{dog.race}} {{dog.age}}</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image  [src]="dog.photo | safe" style="height: 200px;" alt="W3Schools.com">
              <mat-card-content>
                <div class ="sociability">
                  <i *ngIf="dog.love_dog" class="fas fa-dog mr-2"
                  matTooltip="sociable avec les chiens"></i>
                  <img *ngIf="!dog.love_dog"
                  matTooltip="pas sociable avec les chiens"
                   src="../../../assets/img/post_5c91f9b712d58-removebg-preview.png">
                  <i *ngIf="dog.love_cat" class="fas fa-cat mr-2"
                  matTooltip="sociable avec les chats"></i>
                  <img *ngIf="!dog.love_cat" 
                  matTooltip="pas sociable avec les chiens"src="../../../assets/img/vhod-s-koshkami-zapreshhen-1-removebg-preview.png">
                  <i *ngIf="dog.love_child" class="fas fa-baby"
                  matTooltip="sociable avec les enfants"></i>
                  <img *ngIf="!dog.love_child"
                  matTooltip="pas sociable avec les enfants"
                      src="../../../assets/img/vhod-s-mladencami-zapreshhen-1-removebg-preview.png">
                </div>
                <p style="min-height: 42px; text-align: center;">
                  {{dog.characteristic}}
                  <br>
                </p>
                <div class="flex" style="text-align: center;">
                  {{dog.date_start | date:'mediumDate'}} - {{dog.date_fin | date:'mediumDate'}}
                </div>
              </mat-card-content>
              <mat-card-actions>
                <i class="fa fa-paper-plane-o msg_send_btn" aria-hidden="true"
                *ngIf="currentUser && currentUser.data.user.id !=dog.owner_id"
                (click)="showSendMessageModal(dog)"></i>
                <a class="button28"  (click)="sendDemand(dog)" 
                *ngIf="currentUser && !dog.sendDemand && currentUser.data.user.id !=dog.owner_id">Demand</a>
                <a class="button28 deleteButton"  (click)="deleteMyAnnonce(dog)" 
                *ngIf="currentUser && currentUser.data.user.id ===dog.owner_id">Delete</a>
              </mat-card-actions>
            </mat-card>
          </div>
          </div>
          </div>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
  </mat-drawer-container>
<app-footer></app-footer>