<button (click)="openModalAddAnnounce()">Add anonces</button>
<table class="table table-dark">
  <thead>
    <tr>
      <th class="w-25">User</th>
      <th class="w-50">Why?</th>
      <th class="w-25">Dog</th>
      <th class="w-25">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let demand of allDemandAdoption">
      <td>
        {{ demand.firstname }} {{ demand.lastname }}
        <i
          class="fa fa-info-circle"
          aria-hidden="true"
          (click)="openModalInfo(demand, 'user')"
        ></i>
        <i
          class="fa fa-commenting"
          aria-hidden="true"
          (click)="sendMessage(demand)"
        ></i>
      </td>
      <td>{{ demand.reason }}</td>
      <td>
        {{ demand.name }}
        <img
          src="{{ demand.photo }}"
          class="img-fluid mx-auto"
          width=" 70px"
          height="auto"
          alt="..."
        />
        <i
          class="fa fa-info-circle"
          aria-hidden="true"
          (click)="openModalInfo(demand, 'dog')"
        ></i>
      </td>
      <td class="button flex">
        <button
          *ngIf="demand.status === 'pending'"
          mat-raised-button
          color="primary"
          (click)="acceptDemand(demand)"
        >
          Accept
        </button>
        <button
          *ngIf="demand.status === 'pending'"
          mat-raised-button
          color="warn"
          (click)="rejectDemand(demand)"
        >
          Reject
        </button>
        <p *ngIf="demand.status !== 'pending'">{{ demand.status }}</p>
      </td>
    </tr>
  </tbody>
</table>

<!-- <img src="{{url}}"> -->
<img
[src]='imageToShow'
/>