td,
tr {
  // display: flex;
  text-align: center;
  justify-content: center;
}
img {
  border-radius: 50%;
}
.button {
  display: flex;
}
button {
  margin-left: 3px;
  margin-right: 3px;
}
i {
  margin-left: 15px;
}
