<div class="modal-header">
    <h5 class="modal-title"> Envoyer demand</h5>
     <i class="fas fa-times"  (click)="closeModal(null)"></i>
</div>
<div class="modal-body">
    {{text |json}}
</div>
<div class="modal-footer ">
    <button mat-button (click)="closeModal(null)">Close</button>
    <button mat-button (click)="closeModal('yes')">Send</button>
</div>



